$gold-text: #a76e00;
$gold-logo: #da9d27;
$white-text: #fdfdfd;
$white-secondary: #979797;
$grey-bttn: #3d3c39;
$green-text: #04867e;
$black-fon: #101010;
$blue-information: #3e1063;
$black-text: #3d3c39;
$white-fon: #f8f1e9;
$grey-fon: #979797;
$green-footer: #16392d;