h1, h2, h3, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

.hero-button {
  border: none;
}

.portfolio-button {
  border: none;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid red;
  box-sizing: border-box;
}
@media screen and (min-width: 363px) {
  .container {
    width: 363px;
  }
}
@media screen and (min-width: 724px) {
  .container {
    width: 724px;
  }
}
@media screen and (min-width: 1380px) {
  .container {
    width: 1380px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}
.header__container {
  display: flex;
}
.header__enters {
  display: flex;
}
.header__login {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #a76e00;
}
.header__register {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #a76e00;
}
.header__logo {
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  color: #da9d27;
  margin-right: 15px;
}
@media screen and (min-width: 724px) {
  .header__logo {
    font-size: 56px;
    line-height: 114%;
    margin-right: 103px;
  }
}
@media screen and (min-width: 1380px) {
  .header__logo {
    font-weight: 800;
    font-size: 64px;
    line-height: 125%;
  }
}
.header__nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #a76e00;
}
.header__address {
  display: none;
}
@media screen and (min-width: 1380px) {
  .header__address {
    font-weight: 400;
    font-size: 16px;
    line-height: 113%;
    color: #a76e00;
  }
}
.header__info {
  display: none;
}
@media screen and (min-width: 1380px) {
  .header__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 113%;
    color: #a76e00;
  }
}
.header__search {
  display: none;
}
@media screen and (min-width: 1380px) {
  .header__search {
    border-radius: 4px;
    width: 174px;
    height: 40px;
    border: 1px solid #979797;
    font-weight: 700;
    font-size: 18px;
    line-height: 122%;
  }
}
.header__list {
  display: none;
}
@media screen and (min-width: 1380px) {
  .header__list {
    display: flex;
    gap: 40px;
  }
}
.header__nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
}

.start_hero {
  padding-top: 80px;
  padding-bottom: 287px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.709)), url(../img/img-desktop/hmain-desktop@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.start_hero_container {
  display: flex;
  flex-direction: column;
}
.start_hero_h1 {
  font-weight: 500;
  font-size: 68px;
  line-height: 132%;
  color: #fdfdfd;
  max-width: 800px;
  margin-left: auto;
  margin-bottom: 32px;
}
.start_hero_text {
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: #979797;
}
.start_hero_button {
  border-bottom: 1px solid #3d3c39;
  border-radius: 4px;
  padding: 10px 16px;
  width: 240px;
  height: 42px;
  color: #04867e;
  background-color: #fdfdfd;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.start_hero_info {
  display: flex;
  width: 800px;
  align-items: end;
  margin-left: auto;
  position: relative;
}

.start_about {
  padding-top: 80px;
  padding-bottom: 48px;
}
.start_about_container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.start_about_photo {
  border: 2px solid #f8f1e9;
  border-radius: 8px;
  width: 210px;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
.start_about_content {
  flex-grow: 1;
  padding-top: 8px;
  max-width: 700px;
}
.start_about_title {
  font-weight: 500;
  font-size: 56px;
  line-height: 114%;
  color: #a76e00;
  margin-bottom: 16px;
}
.start_about_text {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #3d3c39;
  display: flex;
  align-items: center;
  gap: 20px;
}
.start_about_text::before {
  width: 95px;
  height: 2px;
  background-color: #a76e00;
  content: "";
}
.start_about_info {
  display: flex;
  align-items: end;
  margin-left: auto;
}
.start_about_btn {
  border: none;
  border-bottom: 1px solid #3d3c39;
  border-radius: 0;
  padding: 0 0 4px;
  border-radius: 4px;
  padding: 10px 16px;
  width: 240px;
  height: 42px;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #04867e;
  background-color: transparent;
  cursor: pointer;
  margin-left: 556px;
}
.start_about_item_1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #3e1063;
  text-align: right;
  max-width: 340px;
  align-items: end;
}
.start_about_btn2 {
  border: 1px solid #3d3c39;
  white-space: nowrap;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #04867e;
  background-color: #fdfdfd;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 43px;
  width: 240px;
  height: 42px;
}
.start_about_chat {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: end;
  margin-top: 36px;
}

.headerp__container {
  display: flex;
  align-items: center;
}
.headerp__container {
  display: flex;
}
.headerp__enters {
  display: flex;
}
.headerp__login {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #a76e00;
}
.headerp__register {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #a76e00;
}
.headerp__logo {
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  color: #da9d27;
  margin-right: 15px;
}
@media screen and (min-width: 724px) {
  .headerp__logo {
    font-size: 56px;
    line-height: 114%;
    margin-right: 103px;
  }
}
@media screen and (min-width: 1380px) {
  .headerp__logo {
    font-weight: 800;
    font-size: 64px;
    line-height: 125%;
  }
}
.headerp__nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #a76e00;
}
.headerp__address {
  display: none;
}
@media screen and (min-width: 1380px) {
  .headerp__address {
    font-weight: 400;
    font-size: 16px;
    line-height: 113%;
    color: #a76e00;
  }
}
.headerp__info {
  display: none;
}
@media screen and (min-width: 1380px) {
  .headerp__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 113%;
    color: #a76e00;
  }
}
.headerp__search {
  display: none;
}
@media screen and (min-width: 1380px) {
  .headerp__search {
    border-radius: 4px;
    width: 174px;
    height: 40px;
    border: 1px solid #979797;
    font-weight: 700;
    font-size: 18px;
    line-height: 122%;
  }
}
.headerp__list {
  display: none;
}
@media screen and (min-width: 1380px) {
  .headerp__list {
    display: flex;
    gap: 40px;
  }
}
.headerp__nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
}

.portfolio {
  background-image: url(../../../img/portfolio-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.portfolio .container {
  height: 551px;
}
.portfolio__title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 56px;
  text-align: center;
  color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.social {
  display: flex;
  gap: 8px;
}

.main-nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #a76e00;
}

.logo {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 125%;
  color: #da9d27;
}

.hero {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 114%;
  color: #f8f1e9;
  padding-top: 239px;
  text-align: center;
  padding-bottom: 232px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.posts {
  display: flex;
  gap: 16px;
  position: relative;
  padding-top: 825px;
}

.img {
  position: absolute;
}

.snacks {
  top: 100px;
  left: 40px;
  z-index: 1;
  width: 283px;
  height: 230px;
}

.dinner {
  top: 160px;
  left: 201px;
  z-index: 2;
  width: 383px;
  height: 310px;
}

.thanksgiving {
  top: 415px;
  left: 502px;
  z-index: 1;
  width: 283px;
  height: 230px;
}

.images {
  display: block;
  border-radius: 8px;
  position: relative;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: #da9d27;
  padding: 8px;
  min-height: 90px;
  margin-bottom: 20px;
}

.dates {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #3e1063;
  padding: 8px;
  min-height: 30px;
  margin-bottom: 20px;
}

.sentence {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #3d3c39;
  min-height: 110px;
  margin-bottom: 16px;
}

.button {
  margin-top: auto;
  border-bottom: 1px solid #3d3c39;
  border-radius: 4px;
  padding: 10px 16px;
  background: #fdfdfd;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #04867e;
}

.calendar_table {
  border: 2px solid black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #3d3c39;
}

.calendar_table th,
.calendar-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.calendar {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: #a76e00;
  padding-top: 50px;
}

.calendar-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: #a76e00;
}

.sidebar {
  padding-top: 100px;
}

.calendar-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: #16392d;
}

.archive {
  background: #f8f1e9;
  display: flex;
  justify-content: space-between;
  width: 408px;
  height: 672px;
}

.archive-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: #a76e00;
  padding: 8px;
  padding-right: 40px;
}

.li-archive {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: #3d3c39;
  font-weight: 600;
  color: #16392d;
}

.archive-list {
  border-left: 2px solid #a76e00;
  padding-left: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer {
  padding-top: 64px;
  background: #16392d;
}

.main-title {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 125%;
  color: #da9d27;
}

.main-sentence {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #da9d27;
  padding: 4px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main {
  padding-top: 64px;
  padding-right: 127px;
}

.codes {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #979797;
}

.footer-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #979797;
  padding: 8px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #979797;
  padding: 8px;
}

.main-btn {
  border: 1px solid #da9d27;
  border-radius: 4px;
  padding: 10px 8px;
  width: 240px;
  height: 42px;
  background: #fdfdfd;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #a76e00;
}

.button-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #979797;
  background-color: transparent;
  border: none;
}

.numbers {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #fdfdfd;
}

.number {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #979797;
  color: #fdfdfd;
}

.email {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #fdfdfd;
}

.footer-item {
  padding: 4px 8px;
}/*# sourceMappingURL=main.css.map */