<section class="pricing">
    <div class="container">
        <h2 class="pricing__title">Послуги та можливості</h2>
        <p class="pricing__subtext">CBD планує заходи у Вашингтоні, округ Колумбія, на національному рівні в Чикаго, Атланті, Маямі, Лос-Анджелесі, Лас-Вегас і Нью-Йорк, на Багамах і для наших міжнародні партнери.  Наш готовий підхід до вражаючих подій є другим нікому. Ми наймаємо графічних дизайнерів, менеджерів з логістики, фахівці зі зв’язків з громадськістю та мають власний залік і компонент цифрового друку. У нас є плани поверхів і специфікації майже на кожному місці, конференц-центрі і приміщення для зустрічей у Вашингтоні, округ Колумбія і чудові відносини з нашими сторонніми постачальниками. Ми також пропонуємо послуги перекладу на іспанську, португальську, французька та німецька.</p>
        <img src="#" alt="foto">  
        <button class="pricing__more">Детальніше</button>
        <button class="pricing__load">Загрузити брошуру</button>
    </div>
</section>