<section class="services-cards">
    <div class="container">
        <ul class="services-cards__list">
            <li class="services-cards__item">
                <h3 class="services-cards__title">Базовий</h3>
                <h4 class="services-cards__subtitle">$5,000</h4>
                <h5 class="services-cards__subtext">до 100 гостей</h5>
                <p class="services-cards__text">Переговори щодо місця проведення
                    Попередня реєстрація
                    Список гостей
                    Подія
                    Дизайн запрошень
                    Реєстрація на місці</p>
                <button class="services-cards__button">Buy Now</button>
            </li>
            <li>
                <h3 class="services-cards__title">Делюкс</h3>
                <h4 class="services-cards__subtitle">$5,500 - 10,000</h4>
                <h5 class="services-cards__subtext">100-200 гостей</h5>
                <p class="services-cards__text">Управління логістикою
                    Переговори щодо місця проведення
                    Дизайн запрошень
                    Реєстрація на місці</p>
                <button class="services-cards__button">Buy Now</button>
            </li>
            <li>
                <h3 class="services-cards__title">Преміум</h3>
                <h4 class="services-cards__subtitle">$10,000+</h4>
                <h5 class="services-cards__subtext">200-300 гостей</h5>
                <p class="services-cards__text">Відданий старший менеджер з роботи з клієнтами
                    Переговори щодо місця проведення
                    Преміум-запрошення
                    Розширена реєстрація на місці</p>
                <button class="services-cards__button">Buy Now</button>
            </li>
            <li>
                <h3 class="services-cards__title">PRO</h3>
                <h4 class="services-cards__subtitle">Індивідуально</h4>
                <p class="services-cards__text">Веб-сайт події
                    Переговори щодо місця проведення
                    Старший організатор заходів
                    Преміум-запрошення
                    Розширена реєстрація на місці
                    Підтримка в чаті
                    Персонал реєстрації на місці</p>
                <button class="services-cards__button">Buy Now</button>
            </li>
        </ul>
    </div>
</section>