<section class="services-intro">
    <div class="container">
        <h2 class="services-intro__title">Вибір послуги</h2>
        <ul>
            <li>
                <h3 class="services-intro__text">Список-нагадування для гостей</h3>
                <img src="#" alt="">
            </li>
            <li>
                <h3 class="services-intro__text">Маркетинг і зв’язки з громадскістю</h3>
                <img src="#" alt="">
            </li>
            <li>
                <h3 class="services-intro__text">Графічний дизайн та запрошення</h3>
                <img src="#" alt="">
            </li>
            <li>
                <h3 class="services-intro__text">Планування заходів і виробництво</h3>
                <img src="#" alt="">
            </li>
            <li>
                <h3 class="services-intro__text">Конс’єрж та протокол</h3>
                <img src="#" alt="">
            </li>
            <li>
                <h3 class="services-intro__text">Освітлення для особливих подій</h3>
                <img src="#" alt="">
            </li>
            <li>
                <h3 class="services-intro__text">Освітлення для особливих подій</h3>
                <img src="#" alt="">
            </li>
            <li>
                <h3 class="services-intro__text">Звук та аудіовізуал</h3>
                <img src="#" alt="">
            </li>
            <li>
                <h3 class="services-intro__text">Реєстрація гостей</h3>
                <img src="#" alt="">
            </li>
        </ul>
    </div>
</section>