<section class="testimonials">
    <div class="container">
        <h3>Відгуки</h3>
        <ul class="testimonials__list">
            <li class="testimonials__item">
                <img src="" alt="">
                <p class="testimonials__text">Це фантастична фірма з планування заходів. У нас була видатна подія в США, і єдине, що нам потрібно було зробити, це з’явитися. Айві та її команда виконали вражаючу роботу для уряду Бразилії.</p>
                <h4 class="testimonials__subtext">Адріана Кастро, директор</h4>
            </li>
            <li class="testimonials__item">
                <img src="" alt="">
                <p class="testimonials__text">Команда виконала фантастичну роботу для семінарів Світового банку з розвитку консолідації центральних банків приватного сектора. Ми в Африці, тому ми могли довірити їм усі деталі.</p>
                <h4 class="testimonials__subtext">Маллам Санусі Ламідо Санусі, губернатор Центрального банку Нігерії</h4>
            </li>
        </ul>
        <button class="testimonials__button">Детальніше</button>
    </div>
</section>