<section class="about">
    <div class="container">
        <h2 class="about__subtitle">Чому CBD:
            Зустрічі та події</h2>
        <ul class="about__list">
            <li class="about__item">
                <h3 class="about__subtext">
                    Корпоративні заходи, зустрічі,конференції та інше
                </h3>
            </li>
            <li class="about__item">
                <h3 class="about__subtext">
                    Некомерційні організації, асоціації,Центральні банки
                </h3>
            </li>
            <li class="about__item">
                <h3 class="about__subtext">
                    Міжнародні зустрічі
                </h3>
            </li>
            <li class="about__item">
                <h3 class="about__subtext">
                    Спеціальність: Закордонний приватний секторІнвестиційні семінари
                </h3>
            </li>
        </ul>
        <p class="about__text">Штаб-квартира організації з планування заходів у Вашингтоні, округ Колумбія. CBD керує
            подіями для міжнародних урядів, некомерційних організацій, корпорацій, малих підприємств та приватних осіб.
            Ми є малим бізнесом. Нашою власницею є жінка, яка має членство у Washington Women In PR та Destination DC.
            Наш корпоративний відділ пропонує планування конференцій, щорічних зустрічей і управління при проведенні
            заходів. Наш соціальний відділ планує соціальні заходи, збори коштів для неприбуткових організацій і
            весілля.Ми керували подіями від концептуалізації до завершення для кількох історичних та широко
            розрекламованих подій, наприклад: The Journer Truth Unveiling with First Lady Сполучених Штатів пані Мішель
            Обама, секретар США Гілларі Клінтон, Уряд Бразилії, Посольство Швеції, Coca-Cola, Time Warner, Dodge,
            Atlanta Committee Олімпійських ігор (ACOG) та багато інших.</p>
        <button class="about__button">Загрузити брошуру</button>
        <button class="about__">Детальніше</button>

    </div>
</section>