<header class="header">
    <div class="container">
        <div class="topbar">
            <div class="social">
                <h3>202.742.5923 ext. 160</h3>
                <h3>info [at] cbdmeetings [dot] com</h3>
            </div>
            <ul>
                <li><a href="#">Логін</a></li>
                <li><a href="">Зареєструватися</a></li>
            </ul>
        </div>

        <div class="topbar-down">
            <a href="" class="logo">CBD</a>

            <ul class="main-nav">
                <li><a href="../about/index.html">Про нас</a></li>
                <li><a href="../services/index.html">Сервіси</a></li>
                <li><a href="../portfolio/index.html">Портфоліо</a></li>
                <li><a href="#">Клієнти</a></li>
                <li><a href="#">Новини</a></li>
                <li><a href="#">Магазин</a></li>
                <li><a href="#">Контакти</a></li>
                <li><a href="../../price/index.html">Вартість</a></li>
                <li><a href="">Події</a></li>
            </ul>
            <input type="text" class="search" placeholder="Пошук">
        </div>
    </div>
</header>