<section class="news">
    <div class="container">
        <h2 class="news__title">Відгуки</h2>
        <ul class="news__list">
            <li class="news__item">
                <img src="#" alt="">
                <p class="news__text">Команда виконала фантастичну роботу для приватного сектору Світового банку семінари з розвитку консолідації центрального банку. Ми в Африці, тому ми могли довірити їм усі деталі.</p>
                <h3 class="news__subtext">Маллам Санусі Ламідо Санусі, губернатор Центрального банку Нігерії</h3>
            </li>
            <li class="news__item">
                <img src="#" alt="">
                <p class="news__text">Айві займалася зв'язками з громадськістю та комунікаціями для історичного Sojourner Truth Unveiling з першою леді Мішель Обамою. Вона та її команда надзвичайно вразили.</p>
                <h3 class="news__subtext">Д-р Е. Фей Вільямс, Національний голова NCBW</h3>
            </li>
        </ul>
        <button class="news__button">Детальніше</button>
    </div>
</section>