<section class="protocol">
    <div class="container">
        <h2 class="protocol__titel">
            Рішення під ключ: Події, якими ми керуємо
        </h2>
        <p class="protocol__text">
            Ми плануємо заходи у Вашингтоні, округ Колумбія, на національному рівні, на Багамах і для наших міжнародних
            партнерів.  Наш готовий підхід до вражаючих заходів є неперевершеним. Ми наймаємо графічних дизайнерів,
            менеджерів з логістики, Фахівці зі зв’язків з громадськістю та мають власний залік і компонент цифрового
            друку.  У нас є плани поверхів і характеристики майже кожного приміщення, конференц-центр і приміщення для
            зустрічей у Вашингтоні, округ Колумбія столична область і чудові відносини з нашими сторонніми
            постачальниками. Ми також пропонуємо послуги перекладу іспанською, португальською, французькою та німецькою
            мовами.
        </p>
        <h3 class="protocol__subtext">
            Радники з протоколу
            Послуги перекладу
            Маркетинг і зв'язки з громадськістю
            Пошук місця, управління логістикою
        </h3>
        <img src="#" alt="book">
    </div>
</section>