<section class="services">
    <div class="container">
        <h2 class="services__titel">Вибір сервісу</h2>
        <ul class="services__list">
            <li class="services__item">
                <img src="" alt="">
                <h3 class="services__subtitle">
                    Спеціальне меню
                </h3>
                <p class="services__subtext">
                    Приватний обід для невеликих зустрічей
                    Параметри спеціального меню
                    Декор подій
                    Звук і освітлення
                </p>
            </li>
            <li class="services__item">
                <img src="" alt="">
                <h3 class="services__subtitle">
                    Логістика та попередня реєстрація
                </h3>
                <p class="services__subtext">
                    Внутрішні сертифіковані маркетологи
                    Новітні технології на місці
                    Повні послуги з керування даними
                    Надійні постачальники
                </p>
            </li>
            <li class="services__item">
                <img src="" alt="">
                <h3 class="services__subtitle">
                    Управління зустріччю
                </h3>
                <p class="services__subtext">
                    Управління зустріччю
                    Вибір місця та укладення договору
                    Зелені зустрічі
                    Конференції та управління виставками
                </p>
            </li>
        </ul>
    </div>
</section>