<section class="team">
    <div class="container">
        <h2 class="team__title">
            Наша команда
        </h2>
        <ul class="team__list">
            <li class="team__item">
                <img src="#" alt="">
                <p class="team__subte">
                    Айві Пендлтон — креативний директор і головний планувальник. Вона має понад 18 років досвіду
                    маркетингу
                    заходів та зв’язків з громадськістю в CBD. Вона є одним із найбільш затребуваних комунікаційних
                    стратегів та організаторів заходів у столичному районі Вашингтона. Вона обслуговує нових клієнтів і
                    є
                    контактною особою для закупівель постачальників та переговори щодо укладення контракту.
                </p>
                <button class="team__button">
                    Детальніше
                </button>
                <h3 class="team__subtitle">
                    Айві К. Пендлтон
                    Головний планувальник
                </h3>
            </li>
            <li class="team__item">
                <img src="#" alt="">
                <p class="team__subtext">

                </p>
                <button class="team__button">
                    Детальніше
                </button>
                <h3 class="team__subtitle">
                    Камарія Салау
                    Спеціаліст з логістики
                </h3>
            </li>
            <li class="team__item">
                <img src="#" alt="">
                <p class="team__subtext"></p>
                <button class="team__button">
                    Детальніше
                </button>
                <h3 class="team__subtitle">
                    Майкл Дюбуа
                    Спеціаліст з логістики
                </h3>
            </li>
            <li class="team__item">
                <img src="#" alt="">
                <p class="team__subtext"></p>
                <button class="team__button">
                    Детальніше
                </button>
                <h3 class="team__subtitle">
                    Грегорі Блейкі
                    Офіційний фотограф
                </h3>
            </li>
            <li class="team__item">
                <img src="#" alt="">
                <p class="team__subtext"></p>
                <button class="team__button">
                    Детальніше
                </button>
                <h3 class="team__subtitle">
                    Маршалл Леві
                    Головний відеооператор
                </h3>
            </li>
        </ul>
    </div>
</section>