<section>
  <div class="container">
    <div class="content">
      <div class="posts">
        <article class="post">
          <img src="../../img/2.png" alt="snacks" />
          <h2>Світські заходи, вечірки тощо.</h2>
          <h4>09 Березня 2011</h4>
          <p>Повний робочий день на управління вашими подіями...</p>
          <a href="#">Детальніше</a>
        </article>
        <article class="post">
          <img src="../../img/dinner.png" alt="dinner">
          <h2>Світські заходи та весілля</h2>
          <h4>06 Серпня 2011</h4>
          <p>
            Податки та прогнози витрат. Організація заходів...
          </p>
          <a href="#">Детальніше</a>
        </article>
        <article class="post">
          <img src="../../img/3.png" alt="thanksgiving">
          <h2>Формула по прийому на роботу</h2>
          <h4>21 Серпня 2011</h4>
          <p>
            Організатор заходів із повним набором послуг...
          </p>
          <a href="#">Детальніше</a>
        </article>
      </div>
      <div class="sidebar">
        <div class="archive">
            <h2>Архів</h2>
            <ul>
                <li>Серпень 2019</li>
                <li>Травень 2019</li>
                <li>Січень 2015</li>
                <li>Вересень 2014</li>
                <li>Грудень 2013</li>
                <li>Грудень 2012</li>
                <li>Листопад 2012</li>
                <li>Березень 2012</li>
                <li>Січень 2012</li>
                <li>Листопад 2011</li>
                <li>Квітень 2011</li>
                <li>Березень 2011</li>
            </ul>
        </div>

<div class="calendar">
    <h2>Календар</h2>

    <div class="calendar__header">
      <h3>Жовтень 2022</h3>
      <a href="">Лис »</a>
    </div>
         <table class="calendar-table">
      <thead>
        <tr>
          <th>Пн</th>
          <th>Вт</th>
          <th>Ср</th>
          <th>Чт</th>
          <th>Пт</th>
          <th>Сб</th>
          <th>Нд</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>2</td>
        </tr>

        <tr>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
        </tr>

        <tr>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
        </tr>

        <tr>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
        </tr>

        <tr>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
        </tr>

        <tr>
          <td>31</td>
        </tr>
      </tbody>
    </table>

   <a href="">Вер »</a>
  </div>

</div>
      </div>
      <div class="calendar">
    <h2>Календар</h2>

    <div class="calendar__header">
      <h3>Жовтень 2022</h3>
      <a href="">Лис »</a>
    </div>
         <table class="calendar-table">
      <thead>
        <tr>
          <th>Пн</th>
          <th>Вт</th>
          <th>Ср</th>
          <th>Чт</th>
          <th>Пт</th>
          <th>Сб</th>
          <th>Нд</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>2</td>
        </tr>

        <tr>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
        </tr>

        <tr>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
        </tr>

        <tr>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
        </tr>

        <tr>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
        </tr>

        <tr>
          <td>31</td>
        </tr>
      </tbody>
    </table>

   <a href="">Вер »</a>
  </div>

</div>
      </div>
    </div>
  </div>
    </div>
  </div>
</section>
