<footer class="footer">
    <div class="container">
         <div class="footer-top">
             <div class="brand">
        <h2 class="main-title">
            CBD
        </h2>
        <p class="main-sentence">Зустрічі та індивідуальні заходи</p>
        </div>
        <ul class="footer-list">
            <li>
                <div class="main">
                     <h3 class="footer-title">Про CBD</h3>
                <p class="text">CBD – головна керуюча компанія для планування заходів для корпорацій, некомерційних організацій, міжнародних урядів та громадських заходів у Вашингтоні.</p>
                <button class="main-btn">Загрузити брошуру</button>
                </div>
            </li>
            <li>
                <h3 class="footer-title">Планування заходів</h3>
                <button  class="button-footer">Зустрічі CBD і події</button>
                <button  class="button-footer">Планування заходів</button>
                <button  class="button-footer">Послуги організації</button>
                <button  class="button-footer">Галерея</button>
                <button  class="button-footer">Вартість</button>
                <button  class="button-footer">Прайс</button>
            </li>
            <li>
                <h3 class="footer-title">Сервіси для клієнтів</h3>
                <button class="button-footer">Планування зустрічі</button>
                <button  class="button-footer">Планування заходів</button>
                <button  class="button-footer">Обслуговування</button>
                <button  class="button-footer">Зв'язки з громадськістю</button>
                <button  class="button-footer">Маркетинг</button>
                <button  class="button-footer">Місце проведення</button>
                <button  class="button-footer">Оренда матеріалів</button>
                <button  class="button-footer">Аудіовізуал</button>
                <button  class="button-footer">Фотографія</button>
                <button  class="button-footer">Реєстрація</button>
                <button  class="button-footer">Організація заходів</button>
                <button  class="button-footer">Звук і освітлення</button>
                <button  class="button-footer">Концепція  дизайну</button>
                <button  class="button-footer">Менеджмент призначення</button>
            </li>
            <li>
                <h3 class="footer-title">Контакти</h3>
                <button class="button-footer">CBD Зустрічі та  індивідуальні заходи</button>
                <button class="button-footer">Поштова скринька 76096</button>
                <button class="button-footer">Вашингтон ДС 20013</button>
                <button class="button-footer">Гаряча лінія</button>
                <a class="numbers" href="tel:+18009564514">+1 800-956-4514 код 160</a>
                <a class="number" href="tel:+12027425923">Вашингтон ДС +1 202-742-5923</a>
                <a class="number" href="tel:+1 4048060153">Атланта +1 404-806-0153</a>
                <a class="email" href="" type="address">info@cbdmeetings.com</a>
                <!-- <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt=""> -->
            </li>
        </ul>
        </div>
        <p class="codes">NAICS Коди:
            541820 | 541613 | 611699 | 323111 | 541810 | 541840 | 541850 | 541840 | 541870 | 541890 | 711510 | 511130 |
            561990 | 541430 | 541611</p>
    </div>
</footer>