<header>
    <div class="container">
          <div class="header__top">
      <a class="header__phone" href="tel:2027425923">
        202.742.5923 ext. 160
      </a>

      <a class="header__email" href="mailto:info@cbdmeetings.com">
        info [at] cbdmeetings [dot] com
      </a>

      <ul class="header__account">
        <li><a href="#">Логін</a></li>
        <li><a href="#">Зареєструватися</a></li>
      </ul>
    </div>

    <a class="header__logo" href="#">CBD</a>
     <div class="header__bottom">

        <ul class="header__menu">
          <li><a href="./about/header.html">Про нас</a></li>
          <li><a href="./services/header.html">Сервіси</a></li>
          <li><a href="./portfolio/header.html">Портфоліо</a></li>
          <li><a href="#">Клієнти</a></li>
          <li><a href="#">Магазин</a></li>
          <li><a href="#">Контакти</a></li>
          <li><a href="./price/header.html">Вартість</a></li>
          <li><a href="#">Події</a></li>
        </ul>
    </div>
     <form class="header-search">
        <input class="input-header" type="text" placeholder="Пошук">
      </form>
      </div>
</header>