<header>
  <div class="container">
    <div class="header-top">
      <div class="profile-header">
        <a href="tel:2027425923" class="header-phone">
          202.742.5923 ext. 160
        </a>
        <a href="mailto:info@cbdmeetings.com" class="header-email">
          info [at] cbdmeetings [dot] com
        </a>
      </div>
      <ul>
        <li><a href="">Логін</a></li>
        <li><a href="">Зареєструватися</a></li>
      </ul>
    </div>
    <div class="header__bottom">
      <a href="#" class="logo">CBD</a>
      <ul class="header__menu">
        <li><a href="./about/header.html">Про нас</a></li>
        <li><a href="./services/header.html">Сервіси</a></li>
        <li><a href="./portfolio/header.html">Портфоліо</a></li>
        <li><a href="#">Клієнти</a></li>
        <li><a href="#">Магазин</a></li>
        <li><a href="#">Контакти</a></li>
        <li><a href="./price/header.html">Вартість</a></li>
        <li><a href="#">Події</a></li>
      </ul>
      <form class="header-search">
        <input class="header-input" type="text" placeholder="Пошук" />
      </form>
    </div>
  </div>
</header>
