<header class="headerp">
  <div class="container">
    <div class="headerp__container">
      <div class="headerp__list">
        <h3 class="headerp__address">202.742.5923 ext. 160</h3>
        <h3 class="headerp__info">info [at] cbdmeetings [dot] com</h3>
      </div>
      <div class="headerp__sites">
        <a href="" class="headerp__logo">CBD</a>

        <ul class="headerp__list">
          <li class="headerp__item">
            <a href="../about/index.html" class="headerp__nav">Про нас</a>
          </li>
          <li class="headerp__item">
            <a href="../services/index.html" class="headerp__nav">Сервіси</a>
          </li>
          <li class="headerp__item">
            <a href="../portfolio/index.html" class="headerp__nav">Портфоліо</a>
          </li>
          <li class="headerp__item">
            <a href="#" class="headerp__nav">Клієнти</a>
          </li>
          <li class="headerp__item">
            <a href="#" class="headerp__nav">Новини</a>
          </li>
          <li class="headerp__item">
            <a href="#" class="headerp__nav">Магазин</a>
          </li>
          <li class="headerp__item">
            <a href="#" class="headerp__nav">Контакти</a>
          </li>
          <li class="headerp__item">
            <a href="../../price/index.html" class="headerp__nav">Вартість</a>
          </li>
          <li class="headerp__item">
            <a href="" class="headerp__nav">Події</a>
          </li>
        </ul>
        <input type="text" class="headerp__search" placeholder="Пошук">
      </div>
      <ul class="headerp__enters">
        <li class="headerp__enter">
          <a href="#" class="headerp__login">Логін</a>
        </li>
        <li class="headerp__enter">
          <a href="" class="headerp__register">Зареєструватися</a>
        </li>
      </ul>
    </div>
  </div>
</header>