<section class="portfolio">
  <div class="container">
    <picture>
      <source srcset="../../img/img-desktop/hmain-desktop@1x.webp 1x, ../../img/img-desktop/hmain-desktop@2x.webp 2x"
        media="(min-width: 1200px)">
      <source srcset="../../img/img-tablet/hmain-tablet@1x.webp 1x, ../../img/img-tablet/hmain-tablet@2x.webp 2x"
        media="(min-width: 768px)">
      <source src="../../img/img-mobille/hmain-mobile@1x.webp 1x, ../../img/img-mobille/hmain-mobile@2x.webp 2x"
        media="(max-width: 767px)">
    </picture>
    <h1 class="portfolio__title">Портфоліо подій (можливості)</h1>
  </div>
</section>