<section class="info">
        <div class="container">
            <h2 class="info__title">Інформаційні відео CBD</h2>
            <p class="info__description">CBD співпрацює з головним відеооператором Маршаллом Леві для створення відео високої чіткості вашої події. Відеоформати доступні для перепродажу, онлайн та інші цифрові формати. Для отримання додаткової інформації про наші послуги відеозйомки натисніть тут</p>
            <button class="info__button">Детальніше</button>
        </div>
</section>