<section class="about">
    <div class="container">

        <img class="about-image" src="" alt="">
        <div class="about-content">
            <h1 class="about-title">Про компанію</h1>
            <p class="about-text">CBD Meetings & Events — готове рішення Вашингтона, округ Колумбія до повного
                планування заходів, організації заходів та маркетингу заходів. CBD є найкращим інтегрованим планува...
            </p>
            <button type="button" class="about-btn">Детальніше</button>
        </div>
        <div class="about-side">
            <p class="about-quote">Натхнення можна знайти всюди</p>
            <button type="button" class="about-chat-btn">Чат</button>
        </div>

    </div>
</section>