<section class="about">
    <div class="container">

         <img src="/src/img/img-desktop/maina-desktop@1x.webp" alt="Про компанію" class="about-photo">
        <h2>Про компанію</h2>
        <p>CBD Meetings & Events — готове рішення Вашингтона, округ Колумбія до повного планування заходів, організації
            заходів та маркетингу заходів. CBD є найкращим інтегрованим планувальником зустрічей для міжнародної
            спільноти.
Ми з гордістю обслуговуємо 8 країн на 5 континентах. CBD керує подіями для дипломатів,
            некомерційних організацій, фондів і асоціацій, корпорацій і окремих осіб.</p>
        <button type="button" class="about-btn">Детальніше</button>    
        <ul>
            <li><h3></h3>Натхнення можна знайти всюди</li>
            <li><button type="button" class="about-btn2">Чат</button></li>
        </ul>
    </div>
</section>