<section class="video">
    <div class="container">
        <h2 class="video__title">Відео-тур</h2>

        <div class="video__box">
            <h3 class="video__subtitle">Перегляд виконаних замовлень</h3>
            <img src="../img/img-desktop/mainv-desktop@1x.webp" alt="foto" class="video__vid">
            <img src="../img/img-mobile_short/mainv-mobiles@1x.webp" alt="" class="video__vim">
            <img src="../img/img-tablet/mainv-tablet@1x.webp" alt="" class="video__vit">

        </div>

        <div class="buttonc">
            <button type="button" class="button__btn">
                Ознайомитися
            </button>
        </div>
    </div>
</section>