<section class="hero">
    <div class="container">
        <h1 class="hero-h1">
            #1 Організатор корпоративних заходів
        </h1>

        <div class="hero-info">
            <p class="hero-text">
                Протокол зустрічей і заходів CBD. Ми є фірмою №1 з
                корпоративного планування у Вашингтоні для міжнародних
                урядів, дипломатів і банків.
            </p>

            <button type="button" class="hero-button">
                Детальніше
            </button>
        </div>
    </div>
</section>