<section class="services">
    <div class="container">

        <div class="header-services">
            <h2 class="title-services">Вибір послуг</h2>
            <div class="line-services"></div>
        </div>

        <div class="cards-services">

            <div class="card">
                <div class="item-services">Логістика та реєстрація</div>
                <div class="item-services">Менеджмент призначення</div>
                <div class="item-services">Обговорення місця та об’єкта</div>
                <div class="item-services">Обслуговування</div>
            </div>

            <div class="card">
                <div class="item-services">Аудіовізуал</div>
                <div class="item-services">Звук і освітлення</div>
                <div class="item-services">Креативний дизайн і декор</div>
                <div class="item-services">Фотографія та відеозйомка</div>
            </div>

        </div>

        <div class="button-box-services">
            <button type="button" class="services-btn"></button>
        </div>

    </div>
</section>