<section class="services">
    <div class="container">
  <h2 class="s-services__title">Послуги та можливості</h2> 
  <img class="s-services__image" src="../img/pexels-craig-adderley.png" alt="вишуканий стіл">
  <p class="s-services__text">CBD планує заходи у Вашингтоні, округ Колумбія, на національному рівні в Чикаго, Атланті, Маямі,
Лос-Анджелесі, Лас-Вегас і Нью-Йорк, на Багамах і для наших міжнародні партнери.Наш готовий підхід до вражаючих подій
є другим нікому. Ми наймаємо графічних дизайнерів, менеджерів з логістики, фахівці зі зв’язків з громадськістю та мають
власний залік і компонент цифрового друку. У нас є плани поверхіві специфікації майже на кожному місці,
конференц-центріі приміщення для зустрічей у Вашингтоні, округ Колумбіяі чудові відносини з нашими сторонніми
постачальниками.Ми також пропонуємо послуги перекладу на іспанську, португальську, французька та німецька.</p> 

<p class="s-services__download">Загрузити брошуру</p>
<p class="s-services__more">Детальніше</p>

</div>
  </section>