<section class="protocol">
    <div class="container">
        <div class="slide">
            <h1 class="title">Протокол заходів і зустрічей</h1>
            <div class="columns">
                <div class="column">
                    <h2 class="column-title">1. Планування</h2>
                    <ul class="column-list">
                        <li>Менеджери контенту</li>
                        <li>Укладання договору</li>
                        <li>Концепція дизайну</li>
                        <li>Бюджет</li>
                        <li>Попередня реєстрація</li>
                        <li>Зв'язки з громадськістю</li>
                        <li>Вибір ділянки</li>
                        <li>Бронювання спікерів</li>
                        <li>Пошук талантів</li>
                    </ul>
                </div>
                <div class="column">
                    <h2 class="column-title">2. Логістика</h2>
                    <ul class="column-list">
                        <li>Повітряна подорож</li>
                        <li>Оренда декору</li>
                        <li>Прокат урочистої білизни</li>
                        <li>Наземний транспорт</li>
                        <li>Бронювання готелю</li>
                        <li>Друк</li>
                        <li>Приватна охорона</li>
                        <li>Кадрове забезпечення</li>
                        <li>Зв'язок з постачальниками</li>
                    </ul>
                </div>
                <div class="column">
                    <h2 class="column-title">3. Виконання</h2>
                    <ul class="column-list">
                        <li>Подарунки учасникам</li>
                        <li>Аудіовізуал</li>
                        <li>Обслуговування</li>
                        <li>Декор</li>
                        <li>Маркетинг</li>
                        <li>Фотографія</li>
                        <li>Рекламні товари</li>
                        <li>Звук / Освітлення</li>
                        <li>Відеозйомка</li>
                    </ul>
                </div>
                <div class="column">
                    <h2 class="column-title">4. Менеджмент</h2>
                    <ul class="column-list">
                        <li>Управління контрактами</li>
                        <li>Управління призначенням</li>
                        <li>Управління логістикою</li>
                        <li>Управління протоколом</li>
                        <li>Виїзні події</li>
                        <li>Реєстрація учасників на місці</li>
                        <li>Закупівлі</li>
                        <li>Стратегічний менеджмент</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>