<section class="design">
    <div class="container">

        <div class="header-design">
            <div class="line-design"></div>
            <h2 class="title-design">Вишукані концепції дизайну</h2>
        </div>

        <div class="gallery-design">
            <div class="photo photo1"></div>

            <div class="photo photo2"></div>

            <div class="photo photo3"></div>
        </div>

        <div class="button-box-design">
            <button type="button" class="design-btn"></button>
        </div>

    </div>
</section>