<section class="stats">
    <div class="container">

        <h1 class="stats-title">Вибір послуг</h1>
        <div class="stats-wrapper">
            <div class="stats-card stats-card-left">
                <p class="stats-item">Логістика та реєстрація</p>
                <p class="stats-item">Менеджмент призначення</p>
                <p class="stats-item">Обговорення місця та об'єкта</p>
                <p class="stats-item">Обслуговування</p>
            </div>
            <div class="stats-card stats-card-right">
                <p class="stats-item">Аудіовізуал</p>
                <p class="stats-item">Звук і освітлення</p>
                <p class="stats-item">Креативний дизайн і декор</p>
                <p class="stats-item">Фотографія та відеозйомка</p>
            </div>
        </div>
        <button class="stats-btn">Ознайомитися</button>

    </div>
</section>