<section class="team">
    <div class="container">
        <h1 class="team-title">Тематичні події під ключ - незабутні святкові емоції</h1>
        <div class="team-wrapper">
            <div class="team-content">
                <h2 class="team-subtitle">Використовуємо найсучасніший дизайн</h2>
                <p class="team-text">Ключ до чудової події — зробити її незабутньою. У CBD ми використовуємо концепцію
                    вашого бренду та особистості, щоб створювати настрій і встановлювати стандарти.</p>
                <p class="team-text">Тут НЕМАЄ подій, пов'язаних із розрізанням тортів. Кожен елемент дизайну
                    налаштований на замовлення, і ми НІКОЛИ не ЗАБУВАЄМО дрібних деталей.</p>
                <button class="team-btn">Детальніше</button>
            </div>
            <div class="team-image">
                <img class="team-img" src="" alt="Тематична подія">
            </div>
        </div>
    </div>

</section>