<section class="start">
    <div class="container">
        <h2 class="start__title">Тематичні події під ключ - 
            незабутні святкові емоції</h2>
            <div class="start__row">
        <ul class="start__list">
            <li class="start__item">
                <h3 class="start__caption">Використовуємо найсучасніший дизайн</h3>
            </li>
            <li class="start__item">
                <p class="start__sentence">Ключ до чудової події — зробити її незабутньою. У CBD ми використовуємо концепцію вашого бренду та
                особистості, щоб створювати настрій і встановлювати стандарти.

                Тут НЕМАЄ подій, пов’язаних із розрізанням тортів. Кожен елемент дизайну налаштований на замовлення, і
                ми НІКОЛИ не ЗАБУВАЄМО дрібних деталей.</p>
            </li>
                <button type="button" class="start__btn">Детальніше</button>
        </ul>
         <img class="start__picture" src="./../img/marilyn monroe.png" alt="">
            </div>
        </div>
</section>