<section class="start">
  <div class="container">
    <h2 class="start__title">
      Тематичні події під ключ - незабутні святкові емоції
    </h2>
    <div class="start__row">
        <div class="start__wrap">
      <h3 class="start__caption">Використовуємо найсучасніший дизайн</h3>
      <div class="start__wraps">
<div class="">
      <p class="start__sentence">
        Ключ до чудової події — зробити її незабутньою. У CBD ми використовуємо
        концепцію вашого бренду та особистості, щоб створювати настрій і
        встановлювати стандарти. Тут НЕМАЄ подій, пов’язаних із розрізанням
        тортів. Кожен елемент дизайну налаштований на замовлення, і ми НІКОЛИ не
        ЗАБУВАЄМО дрібних деталей.
      </p>

      <button type="button" class="start__btn">Детальніше</button>
      </div>
      <img class="start__picture" src="./img/marilyn monroe.png" alt="" />
      </div>
      </div>
    </div>
  </div>
</section>
