<section class="news">
    <div class="container">

        <div class="news__top">
            <div class="news__line"></div>
              <h2 class="news__title">Останні новини</h2>
        </div>
        <div class="news__list">
            <article class="news__card">
                <time class="news__date" datetime="2019-05-04">04 Травня 2019</time>

                <img src="./img/fireworks.png"
                     alt="Як планується захід"
                     class="news__img">

                <h3 class="news__sentence">Як планується захід</h3>
            </article>

            <article class="news__card">
                <time class="news__date" datetime="2019-08-21">21 Серпня 2019</time>

                <img src="./img/plate.png"
                     alt="Інформація для пошуку організатора"
                     class="news__img">

                <h3 class="news__sentence">
                    Інформація для пошуку організатора
                </h3>
            </article>

            <article class="news__card">
                <time class="news__date" datetime="2019-08-28">28 Серпня 2019</time>

                <img src="./img/photos.png"
                     alt="Зустрічі та заходи. Брошура"
                     class="news__img">

                <h3 class="news__sentence">
                    Зустрічі та заходи. Брошура
                </h3>
            </article>

        </div>

        <div class="news__button">
            <button type="button" class="news__btn">
                Ознайомитися
            </button>
        </div>

    </div>
</section>