<section class="news">
    <div class="container">

        <div class="news-top">
            <div class="news-line"></div>
            <h2 class="news-title">Останні новини</h2>
        </div>

        <div class="news-list">

            <article class="news-card">
                <time class="news-date" datetime="2019-05-04">04 Травня 2019</time>

                <img src=""
                     alt="Як планується захід"
                     class="news-img">

                <h3 class="news-subtitle">Як планується захід</h3>
            </article>

            <article class="news-card">
                <time class="news-date" datetime="2019-08-21">21 Серпня 2019</time>

                <img src=""
                     alt="Інформація для пошуку організатора"
                     class="news-img">

                <h3 class="news-subtitle">
                    Інформація для пошуку організатора
                </h3>
            </article>

            <article class="news-card">
                <time class="news-date" datetime="2019-08-28">28 Серпня 2019</time>

                <img src=""
                     alt="Зустрічі та заходи. Брошура"
                     class="news-img">

                <h3 class="news-subtitle">
                    Зустрічі та заходи. Брошура
                </h3>
            </article>

        </div>

        <div class="button-box-news">
            <button type="button" class="news-btn">
                Ознайомитися
            </button>
        </div>

    </div>
</section>