@use "../../base/variables" as *;

.content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.posts {
  display: flex;
  gap: 16px;
  position: relative;
  padding-top: 825px;
}

.img{
    position: absolute;

}

.snacks{
    top: 100px;
  left: 40px;
  z-index: 1;
  width: 283px;
height: 230px;
}

.dinner{
    top: 160px;
  left: 201px;
  z-index: 2;
  width: 383px;
height: 310px;
}

.thanksgiving{
  top: 415px;
  left: 502px;
  z-index: 1;
  width: 283px;
height: 230px;
}

.images {
  display: block;
  border-radius: 8px;
  position: relative;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: $gold-logo;
  padding: 8px;
  min-height: 90px;
  margin-bottom: 20px;
}

.dates {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: $blue-information;
  padding: 8px;
  min-height: 30px;
  margin-bottom: 20px;
}

.sentence {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: $black-text;
  min-height: 110px;
  margin-bottom: 16px;
}
.button {
  margin-top: auto;
  border-bottom: 1px solid $black-text;
  border-radius: 4px;
  padding: 10px 16px;
  background: $white-text;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: $green-text;
}

.calendar_table {
  border: 2px solid black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: $black-text;
}


.calendar_table th,
.calendar-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.calendar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: $gold-text;
  padding-top: 50px;
}

.calendar-title{
 font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 28px;
line-height: 129%;
 color: $gold-text;
}

.sidebar{
  padding-top: 100px;
}

.calendar-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: $green-footer;
}

.archive {
  background: $white-fon;
    display: flex;
    justify-content: space-between;
    width: 408px;
height: 672px;
}

.archive-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: $gold-text;
  padding: 8px;
   padding-right: 40px;
}

.li-archive{
  font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 28px;
line-height: 129%;
color: $black-text;
font-weight: 600;
color: $green-footer;
}

.archive-list{
  border-left: 2px solid $gold-text;
  padding-left: 40px;
   margin: 0;
    display: flex;
  flex-direction: column;
  gap: 16px;
}

