@use "../../base/variables" as *;

.design {
    padding-top: 48px;
    padding-bottom: 48px;

    @media screen and (min-width: 724px) {
        padding-top: 90px;
        padding-bottom: 48px;
    }

    @media screen and (min-width: 1380px) {
        padding-top: 100px;
        padding-bottom: 46px;
    }

    .header-design {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .line-design {
        display: none;

        @media screen and (min-width: 1380px) {
            display: block;
            flex-shrink: 0;
            width: 433px;
            height: 2px;
            background-color: $gold-text;
        }
    }

    .title-design {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 500;
        font-size: 30px;
        line-height: 133%;
        color: $gold-text;



        @media screen and (min-width: 724px) {
            font-size: 40px;
            line-height: 120%;
        }

        @media screen and (min-width: 1380px) {
            font-size: 56px;
            line-height: 114%;
        }
    }

    .gallery-design {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 16px;
        margin-top: 20px;

        @media screen and (min-width: 724px) {
            display: block;
            width: 100vw;
            left: 50%;
            margin-left: -50vw;
            height: 64.8vw;
        }

        @media screen and (min-width: 1380px) {
            width: 1121px;
            height: 618px;
            left: auto;
            margin-left: 119px;
            margin-top: 40px;
        }
    }

    .photo {
        background-color: $white-fon;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;


        @media screen and (min-width: 724px) {
            position: absolute;
        }

        @media screen and (min-width: 1380px) {
            position: absolute;
        }
    }

    .photo1 {
        grid-column: 1;
        grid-row: 1;
        aspect-ratio: 4 / 3;
        background-image: url("../../../img/img-desktop/mainc-desktop@1x.webp");

        @media screen and (min-width: 724px) {
            aspect-ratio: unset;
            top: 0;
            left: 0;
            width: 276px;
            height: 210px;
            border: 2px solid $white-fon;
        }

        @media screen and (min-width: 1380px) {
            top: 0;
            left: 0;
            border: 2px solid $white-fon;
            width: 405px;
            height: 260px;
        }
    }

    .photo2 {
        grid-column: 1;
        grid-row: 2;
        aspect-ratio: 4 / 3;
        border-radius: 8px;

        background-image: url("../../../img/img-desktop/mainc1-desktop@1x.webp");

        @media screen and (min-width: 724px) {
            aspect-ratio: unset;
            top: 13.6vw;
            left: 18.1vw;
            width: 492px;
            height: 292px;
            border: 2px solid $white-fon;
        }

        @media screen and (min-width: 1380px) {
            top: 131px;
            left: 201px;
            border: 2px solid $white-fon;
            width: 720px;
            height: 360px;
        }
    }

    .photo3 {
        grid-column: 2;
        grid-row: 1 / span 2;
        background-image: url("../../../img/img-desktop/mainc2-desktop@1x.webp");

        @media screen and (min-width: 724px) {
            top: 37.9vw;
            left: 64vw;
            border: 2px solid $white-fon;
            width: 276px;
            height: 210px;
        }

        @media screen and (min-width: 1380px) {
            top: 361px;
            left: 720px;
            border: 2px solid $white-fon;
            width: 402px;
            height: 260px;
        }
    }

    .button-box-design {
        margin-top: 16px;

        @media screen and (min-width: 1380px) {
            margin-top: 24px;
        }
    }

    .design-btn {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: $green-text;
        background-color: $white-fon;
        border: none;
        border-radius: 4px;
        padding: 10px 16px;
        width: 100%;
        height: 42px;
        font-size: 14px;
        line-height: 129%;
        cursor: pointer;

        @media screen and (min-width: 724px) {
            width: 200px;
            font-size: 16px;
            line-height: 113%;
            background-color: transparent;
            border-bottom: 1px solid $black-text;
            border-radius: 4px;
        }

        @media screen and (min-width: 1380px) {
            width: 240px;
            font-size: 18px;
            line-height: 122%;
        }
    }
}