@use "../../base/variables" as *;

.video {
    

    .container {
        padding-bottom: 40px;
        padding-top: 40px;
        background-color: rgba(151, 151, 151, 1);
        
        @media screen and (min-width: 724px) {
            padding-bottom: 54px;
            padding-top: 54px;
        }

        @media screen and (min-width: 1380px) {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    &__title {
        font-family: "Montserrat Alternates";
        font-weight: 500;
        font-size: 30px;
        text-align: left;
        color: rgba(248, 241, 233, 1);
        margin-bottom: 24px;

        @media screen and (min-width: 724px) {
            font-size: 40px;
            margin-left: 30px;
        }

        @media screen and (min-width: 1380px) {
            margin-left: 38px;
            font-size: 56px;
        }
    }

    &__subtitle {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: rgba(62, 16, 99, 1);
        margin-bottom: 24px;
        
        @media screen and (min-width: 1380px) {
            font-size: 16px;
        }
    }
    
    &__vid {
        display: flex;
        width: 664px;
        height: 400px;
        margin-left: 255px;
        display: none;

        @media screen and (min-width: 1380px) {
            display: block;
        }
        
    }

    &__vit {
        display: none;
        width: 346px;
        height: 260px;
        margin-left: 88px;

        @media screen and (min-width: 724px){
            display: block;
        }

        @media screen and (min-width: 1380px) {
            display: none;
        }
    }

    &__vim {
        width: 100%;
        height: 240px;

        @media screen and (min-width: 724px) {
            display: none;
        }
    }
    
    &__box {
        background-color: rgba(248, 241, 233, 1);
        width: 100%;
        height: 340px;
        border-radius: 2px;

        @media screen and (min-width: 724px) {
            margin-left: 114px;
            width: 522px;
        }

        @media screen and (min-width: 1380px) {
            width: 1200px;
            height: 480px;
            margin-left: 110px;
        }
    }

    .button {
        
        &__btn {
            align-items: center;
            justify-content: center;
            font-family: "Montserrat";
            font-weight: 700;
            font-size: 14px;
            width: 100%;
            height: 42px;
            color: rgba(4, 134, 126, 1);
            margin-top: 34px;

            @media screen and (min-width: 724px) {
                margin-top: 16px;
                width: 200px;
                font-size: 16px;
                margin-left: 274px;
            }

            @media screen and (min-width: 1380px) {
                font-size: 18px;
                margin-left: 606px;
            }
        }
    }
}