@use "../../base/variables" as *;

.start_about {
    padding-top: 80px;
    padding-bottom: 48px;

    &_container {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    &_photo {
        border: 2px solid $white-fon;
        border-radius: 8px;
        width: 210px;
        height: 210px;
        object-fit: cover;
        flex-shrink: 0;
    }

    &_content {
        flex-grow: 1;
        padding-top: 8px;
        max-width: 700px;
    }

    &_title {
        font-weight: 500;
        font-size: 56px;
        line-height: 114%;
        color: $gold-text;
        margin-bottom: 16px;
    }

    &_text {
        position: relative;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: $black-text;
        display: flex;
        align-items: center;
        gap: 20px;
        

        &::before {
            width: 95px;
            height: 2px;
            background-color: $gold-text;
            content: "";
        }

    }


    &_info {
        display: flex;
        align-items: end;
        margin-left: auto;
    }

    &_btn {
        border: none;
        border-bottom: 1px solid $black-text;
        border-radius: 0;
        padding: 0 0 4px;
        border-radius: 4px;
        padding: 10px 16px;
        width: 240px;
        height: 42px;
        font-weight: 700;
        font-size: 18px;
        line-height: 122%;
        color: $green-text;
        background-color: transparent;
        cursor: pointer;
       margin-left: 556px;
        
    }

    



    &_item_1 {
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: $blue-information;
        text-align: right;
        max-width: 340px;
        align-items: end;
    }



    &_btn2 {
        border: 1px solid $black-text;
        white-space: nowrap;
        font-weight: 700;
        font-size: 18px;
        line-height: 122%;
        color: $green-text;
        background-color: $white-text;
        cursor: pointer;
        border-radius: 4px;
        padding: 10px 43px;
        width: 240px;
        height: 42px;
    }

    &_chat {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: end;
        margin-top: 36px;
    }
}